@charset "utf-8";

:root{
  --title-font: 'Bitgoeul_Bold', sans-serif;
  --title_m-font: 'Bitgoeul_Medium', sans-serif;
  --title_r-font: 'Bitgoeul_Light', sans-serif;
  --en-font: "GowunBatang", serif;

  --font_m-color:#1a1a1a;
  --sub-color: #808080;
  --back-color: #fffdf9;
  --footer-color: #f1ede6;
}

.main_visual{overflow-x: hidden;}
.brand{overflow-x: hidden;}
.event{overflow-x: hidden;}
.pr{overflow-x: hidden;}

body{font-family: 'Source Serif 4', 'Pretendard', sans-serif;  line-height: 1.5; font-size: 1.6rem; overflow-x: hidden; background: #FFFDF9;}
.inner{max-width: 1700px; margin: 0 auto; padding: 0 5%;}


/* menu */
#header .menu{display: none; position: fixed; left: 0; top: 0; background: #FFFDF9; width: 100%; height: 100vh; z-index: 999099999990;}
#header .menu .menu_gnb{display: flex; justify-content: space-around; margin-right:25px ; padding-top: 300px;}
#header .menu .menu_gnb>li>a{text-align: center; transition: all 0.5s; display: block; font-size: 3rem;color: #1a1a1a; }
#header .menu .menu_gnb>li{ position: relative;}
#header .menu .menu_gnb>li .menu_depth2{text-align: center; margin-top: 30px;}
#header .menu .menu_gnb>li .menu_depth2>li>a{transition: all 0.5s; display: block; color: #808080; font-size: 1.8rem; padding: 10px 0;}

/* #header .language .menu_btn{background: url('../imges/meun.png')no-repeat center/100%; width: 24px; height: 24px;} */


#header .menu .menu_gnb>li:hover> a{color: #373737; font-weight: 700;}
#header .menu .menu_gnb>li>a::before{transition: all 0.5s; text-align: center; display: block; content: ""; position: absolute; top: 50px; left: 50%; transform: translateX(-50%); width: 0; height: 3px; background: #373737; }
#header .menu .menu_gnb>li>a:hover::before{width: 140px;}

#header .menu .menu_gnb>li .menu_depth2>li{position: relative;}
#header .menu .menu_gnb>li .menu_depth2>li:hover>a{color: #373737; font-weight: 700;}
#header .menu .menu_gnb>li .menu_depth2>li>a::before{transition: all 0.5s; display: block; content: ""; position: absolute; width: 0; height: 3px; background: #373737; left: 50%; transform: translateX(-50%); bottom: 0;}
#header .menu .menu_gnb>li .menu_depth2>li:hover a::before{width: 120px;}
#header .menu .menu_close{background: url('../imges/search_close.png')no-repeat center/100%;  cursor: pointer; position: absolute; right: 10%;top: 10%; font-size: 0; width: 50px; height: 50px; transform: rotate(45deg); }



@media(max-width:710px){
  #header .menu .menu_close{background: url('../imges/search_close.png')no-repeat center/100%;  cursor: pointer; position: absolute; right: 10%;top: 7%; font-size: 0; width: 40px; height: 40px; transform: rotate(45deg); }
  #header .menu .menu_gnb>li a{pointer-events: none;}
  #header .menu .menu_gnb>li a{font-size: 2.5rem;}
  #header .menu .menu_gnb{margin-left: 80px; padding-top:50px ; display: flex; flex-direction: column; gap: 50px; align-items: start;}
  #header .menu .menu_gnb>li .menu_depth2{display: none;}
  }


  @media(max-width:500px){
    #header .menu{height: 150vh; padding-top: 50px;}
    #header .menu .menu_gnb>li a{font-size: 2.8rem !important;}
    #header .menu .menu_gnb>li .menu_depth2>li>a{font-size: 1.8rem !important;}

  }



  @media(max-width:390px){
    #header .menu .menu_gnb>li a{font-size: 2rem;}
    #header .menu .menu_gnb>li .menu_depth2>li a{font-size: 1.5rem;}
    #header .inner .util .menu_btn{ margin-bottom: 3.5px !important;}

  }


/* menu */

/* header */
#header{position: absolute; z-index: 100; width: 100%;}
#header .inner{position: relative; z-index: 10; max-width: 100%; padding-top: 40px; display: flex; justify-content: space-between;  align-items: center;}
#header .inner h1 a{display: block; font-size: 0; background: url('../imges/logo_w.png')no-repeat center/100%; width: 220px; height: 40px;}
#header .inner .gnb{transition: all 0.5s; display: flex; justify-content: center; margin-right:100px ;}
#header .inner .gnb> li>a{font-size: 2rem;  color: #fff; display: block; padding: 5px 50px 5px 50px; font-weight: 500;}

#header .inner .gnb> li{position: relative;}

#header .inner .util{color: #fff; display: flex; gap: 40px; align-items: center;}
#header .inner .util .language{transition: all 0.5s; font-size: 2rem; font-weight: 500; position: relative;}
#header .inner .util .language li:nth-child(2){position: absolute; top: 150%;}
#header .inner .util .language li:nth-child(2){transition: all 0.5s; color: #808080;}
#header .inner .util .language li:nth-child(2):hover{color: #1a1a1a;}
#header .inner .util .language li:nth-child(2)::before{transition: all 0.5s; width: 0; display: block; content: ""; position: absolute; left: 50%; bottom: -5px; transform: translateX(-50%); background: #1a1a1a; height: 5px;}
#header .inner .util .language li:nth-child(2):hover:before{width: 100%;}

#header .inner .util .language li{cursor: pointer;}
#header .inner .util .search{transition: all 0.5s; background: url('../imges/search_w.png')no-repeat center/100%; width: 28px; height: 28px; font-size: 0;}
#header .inner .util .menu_btn{ font-size: 0; background: url('../imges/meun.png')no-repeat center/100%; cursor: pointer; width: 24px; height: 24px; margin-bottom: 3px;}


/* depth2 */ /* depth2_bg */

#header .inner .gnb> li .depth2{width: 100%; position: absolute; left:0; text-align: center; top: 150%; z-index: 2;}
#header .inner .gnb> li .depth2>li a{color: #808080; display: block; font-size: 1.5rem; padding-bottom: 15px;
}
#header .depth2_bg{ position: absolute; left: 0; top: 0;background: #FFFDF9; width: 100%; height: 236px; z-index: 0;}





#header.active .inner h1 a{background: url('../imges/logo_b.png')no-repeat center/100%; color: #1a1a1a;}
#header.active .inner .gnb>li>a{color: #1a1a1a; font-weight: 500;}
#header.active .inner .gnb>li .depth2>li:hover>a{color: #1a1a1a; font-weight: 600;}

#header.active .inner .gnb>li .depth2>li:hover::before{width: 50%;}
#header.active .inner .gnb>li .depth2>li{position: relative;}
#header .inner .gnb>li .depth2>li:before{transition: all 0.5s; display: block; content: ""; position: absolute; left: 50%; bottom: 5px; transform: translateX(-50%); width: 0; height: 5px; background: #1a1a1a;}


#header.active .inner .language{color: #1a1a1a; font-weight: 600;}
#header.active .inner .search{background: url('../imges/search_b.png')no-repeat center/100%; cursor: pointer;}
#header.active .util .menu_btn{background: url('../imges/meun_b.png')no-repeat center/cover; cursor: pointer;}
/* depth2 */ /* depth2_bg */

/* header */


/* search */







.search_2{display: none; z-index: 10; position: fixed; left: 2.5vw; top: 5vh; width: calc(100% - 5vw); background: rgba(0,0,0,0.9); height: calc(100% - 10vh); display: flex; justify-content: center; align-items: center; }
.search_2 .search_3{ display: flex; justify-content: center; align-items: center; padding: 50px; background: #fff; width: 50vw; height: 50vh;}


.search_2 .search_3{ position: relative;}
.search_2 .search_3 form fieldset{display: flex;}
.search_2 .search_3 form input[type="text"]{ width: calc(100% - 40px); cursor: pointer; font-size: 4rem; border-bottom: 2px solid #1a1a1a;}
.search_2 .search_3 form input[type="text"]::placeholder{color: #1a1a1a;}

.search_2 .search_3 form input[type="submit"]{font-size: 0; border-bottom: 2px solid #1a1a1a; background: url('../imges/search_b.png')no-repeat center/cover; cursor: pointer; width: 40px; height: 50px;}

.search_2 .search_3 .search_more{ text-align: center; margin-top: 20px; }

.search_2 .search_3 .search_more li { display: inline-block; margin: 10px; }
.search_2 .search_3 .search_more li a{transition: all 0.5s; border: 1px solid #1a1a1a; font-size: 2rem; display: inline-block; padding:5px 20px ; border-radius: 20px; width: 100%;}

.search_2 .search_3 .search_more li:hover a{background: #1a1a1a; color: #fff;}

.search_2 .search_3 .search_close{ cursor: pointer; position: absolute; right: 10%;top: 10%; font-size: 0; background: url('../imges/search_close.png')no-repeat center/100%; width: 50px; height: 50px; transform: rotate(45deg); }
/* search */



@media(max-width:1299px){
  .search_2 .search_3 .search_more li a{font-size: 1.5rem; }
}
@media(max-width:1100px){
  .search_2 .search_3 form input[type="text"]{font-size: 3rem !important;}
  .search_2 .search_3 .search_more { padding: 0 100px; }
  .search_2 .search_3 .search_more a{padding:5px 10px ;}
}

@media(max-width:1038px){
  .search_2 .search_3 form input[type="text"]{font-size: 2.7rem !important;}
  .search_2 .search_3 .search_more { padding: 0 70px; }
  .search_2 .search_3 .search_more a{padding:5px 10px ;}
}
@media(max-width:920px){
  .search_2 .search_3 form input[type="text"]{font-size: 2.7rem !important;}
  .search_2 .search_3 .search_more { padding: 0 50px; }
  .search_2 .search_3 .search_more a{padding:5px 10px ;}
}
@media(max-width:845px){
  .search_2 .search_3 .search_more{ padding: 0 30px; }
  .search_2 .search_3 form input[type="submit"]{ width: 30px !important; height: 40px !important;}
}
@media(max-width:757px){
  .search_2 .search_3 form input[type="text"]{font-size: 2.7rem !important;}
  .search_2 .search_3 .search_more { padding: 0 10px; }
  .search_2 .search_3 .search_more a{padding:5px 10px ;}
}
@media(max-width:677px){
  .search_2 .search_3 form input[type="text"]{font-size: 2.2rem !important;}
  .search_2 .search_3 .search_more { padding: 0 0; }
  .search_2 .search_3 .search_more a{padding:5px 10px ;}
}
@media(max-width:640px){
  .search_2 .search_3 form input[type="text"]{font-size: 2rem !important;}
  .search_2 .search_3 .search_more { padding: 0 5px; }
  .search_2 .search_3 .search_more li{margin: 7px 2px;}
  .search_2 .search_3 .search_more a{padding:3px 5px;}
  .search_2 .search_3 form input[type="submit"]{font-size: 0; border-bottom: 2px solid #1a1a1a; background: url('../imges/search_b.png')no-repeat center/cover; cursor: pointer; width: 20px; height: 30px;}
  .search_2 .search_3 .search_close{ cursor: pointer; position: absolute; right: 10%;top: 10%; font-size: 0; background: url('../imges/search_close.png')no-repeat center/100%; width: 35px; height: 35px; transform: rotate(45deg); }
}
@media(max-width:593px){
  .search_2 .search_3 .search_more a{ font-size: 1rem;}
}
@media(max-width:567px){
  .search_2 .search_3 .search_more a{ font-size: 1rem;}
  .search_2 .search_3 form fieldset{width: 220px !important;}
}
@media(max-width:500px){
  .search_2 .search_3 form fieldset{width: 220px !important;}
  .search_2 .search_3 div{margin-top: 50px;}
  .search_2 .search_3 .search_close{ cursor: pointer; position: absolute; right: 10%;top: 0; font-size: 0; background: url('../imges/search_close.png')no-repeat center/100%; width: 35px; height: 35px; transform: rotate(45deg); }
}

@media(max-width:428px){
  .search_2 .search_3 {width: 80%;}
  .search_2 .search_3 .search_more{display: none;}
  .search_2 .search_3 div{margin-top: 8px;}
  .search_2 .search_3 form fieldset{width: 180px;}
  .search_2 .search_3 .search_close{ cursor: pointer; position: absolute; right: 8%;top: 15%; font-size: 0; background: url('../imges/search_close.png')no-repeat center/100%; width: 30px; height: 30px; transform: rotate(45deg); }
}





/* header ,,,,,main_visual */
@media(max-width:1370px){
  #header .inner nav{display: none;}
/*   .main_visual .mv .swiper-pagination{padding-left: 3px;} */
}
@media(max-width:1427px){
  .main_visual .mv .mv_txt1 h2{font-size: 4rem !important; padding-bottom: 30px !important;}
  .main_visual .mv .mv_txt1 h2+p{font-size: 2rem!important;}
  .wrap #main .scroll p{font-size: 1.5rem !important;}
  .wrap #main .scroll::before{width: 70px !important; height: 70px !important;}
  .main_visual .mv .mv2 .mv_txt2 h2{font-size: 4rem !important; padding-bottom: 30px !important; }
.main_visual .mv .mv2 .mv_txt2 h2+p{font-size: 2rem !important; }
.main_visual .mv .mv3 .mv_txt3 h2{font-size: 4rem !important; padding-bottom: 30px !important; }
.main_visual .mv .mv3 .mv_txt3 h2+p{font-size: 2rem !important; }
.main_visual .mv .mv3 .more2 a{font-size: 1.8rem !important;}
.main_visual .mv .mv2 .more1 a{font-size: 1.8rem !important;}
}
/* @media(max-width:1285px){
  .main_visual .mv .swiper-pagination{left: 3% !important; bottom: 43% !important;}
} */
@media(max-width:1000px){
/*   .main_visual .mv .mv_control{  position: absolute; left:40%!important; transform: translateX(-40%); top: 93% !important; z-index: 1; border: 2px solid #fff; border-radius: 50%; padding-left: 2px; padding-right: 2px; padding-bottom: 2px;} */
 /*  .main_visual .mv .swiper-pagination{display: flex; flex-direction: row !important; left: 50%!important; transform: translateX(-50%); top: auto !important; bottom: 40px !important; right: auto !important;} */
}
@media(max-width:950px){
  .main_visual .mv .mv_txt1{width: 100%;}

}
@media(max-width:847px){
  /* .main_visual .mv .swiper-pagination{display: none !important;} */
/*   .main_visual .mv .mv_control{display: none !important;} */
}


@media(max-width:430px){
  .main_visual .mv .mv_txt1 h2{font-size: 3rem !important;}
  .main_visual .mv .mv_txt1 h2+p{font-size: 2.1rem!important;}
}
@media(max-width:390px){
  #header .inner .util{color: #fff; display: flex; gap: 30px; align-items: center;}
  #header .inner h1 a{display: block; font-size: 0; background: url('../imges/logo_w.png')no-repeat center/100%; width: 190px; height: 40px;}
  #header .depth2_bg{ position: absolute; left: 0; top: 0;background: #FFFDF9; width: 100%; height: 150px; z-index: 0;}
  .main_visual .mv .mv_txt1 h2{font-size: 3.5rem !important;}
  .main_visual .mv .mv_txt1 h2+p{font-size: 2.3rem!important;}
  }
  @media(max-width:390px){
    .main_visual .mv .mv1 video{height: 131vh !important;}
    .main_visual .mv .mv2{height: 131vh !important;}
    .main_visual .mv .mv3{height: 131vh !important;}
    .main_visual .mv .mv_txt1 h2{font-size: 2.8rem !important;}
    .main_visual .mv .mv_txt1 h2+p{font-size: 1.8rem!important;}
  }
  @media(max-width:360px){
    .main_visual .mv .mv_txt1{width: 100%;}
    .main_visual .mv .mv_txt1 h2{font-size: 2.8rem !important;}
    .main_visual .mv .mv_txt1 h2+p{font-size: 1.8rem!important;}
    #header .inner .util{color: #fff; display: flex; gap: 20px; align-items: center;}

    }
/* header ,,,,,main_visual */




.main_visual .mv .mv_control{  position: absolute; left:2.5%; top: 40%; z-index: 1; border: 2px solid #fff; border-radius: 50%; padding-left: 2px; padding-right: 2px; padding-bottom: 2px;}
.main_visual .mv .mv_control .pause{cursor: pointer; background: url('../imges/pause.png')no-repeat center/100%; width: 30px; height: 30px; font-size: 0;}
.main_visual .mv .mv_control .play{cursor: pointer; background: url('../imges/play.png')no-repeat center/100%; width: 30px; height: 30px; font-size: 0;}












/* main_visual */

.main_visual .mv{position: relative;}
.main_visual .mv .mv1 video{height: 100vh; object-fit: cover; width: 100%;}
.main_visual .mv .mv_txt1{font-family: var(--title_r-font); position: absolute; left: calc(100% - 50%); transform: translateX(-50%); top: 35%; color: #fff; text-align: center;}
.main_visual .mv .mv_txt1 h2{font-size: 6rem;  padding-bottom: 45px;}
.main_visual .mv .mv_txt1 h2+p{font-size: 3rem;}

.main_visual .mv .mv2{background: url('../imges/banner_1.jpg')no-repeat 60%/cover; height: 100vh;}
.main_visual .mv .mv2 .mv_txt2{padding-left:  13.95833333333333vw; height: 100%; display: flex; flex-direction: column; justify-content: center;}
.main_visual .mv .mv2 .mv_txt2 h2{font-size: 6rem;  padding-bottom: 45px;}
.main_visual .mv .mv2 .mv_txt2 h2+p{font-size: 2.5rem; padding-bottom: 90px;}
.main_visual .mv .mv2 .mv_txt2 h2+p span{font-size: 2rem;}
.main_visual .mv .mv2 .more1{transition: 0.5s; border: #1a1a1a solid 1px; padding: 5px 60px 5px 8px; position: absolute; left: 13.95833333333333vw; top: 61.13320079522863vh; background: url('../imges/more_b.png') no-repeat 90% center;}
.main_visual .mv .mv3 .more2 {transition: all 0.5s;}
.main_visual .mv .mv2 .more1 a{font-size: 2rem;}


.main_visual .mv .mv2 .more1:hover{background: #000 url('../imges/more.png')no-repeat 90% center;}
.main_visual .mv .mv2 .more1:hover a{ color: #fff;}
.main_visual .mv .mv3 .more2:hover{background: #000 url('../imges/more.png')no-repeat 90% center;}
.main_visual .mv .mv3 .more2:hover a{ color: #fff;}


.main_visual .mv .mv3{background: url('../imges/banner_2.jpg')no-repeat center/cover; height: 100vh;}
.main_visual .mv .mv3 .mv_txt3{padding-left:  13.95833333333333vw; height: 100%; display: flex; flex-direction: column; justify-content: center;}
.main_visual .mv .mv3 .mv_txt3 h2{font-size: 6rem; padding-bottom: 45px;}
.main_visual .mv .mv3 .mv_txt3 h2+p{font-size: 2.5rem; padding-bottom: 90px;}
.main_visual .mv .mv3 .mv_txt3 h2+p span{font-size: 2rem;}
.main_visual .mv .mv3 .more2{border: #1a1a1a solid 1px; padding: 5px 60px 5px 8px; position: absolute; left: 13.95833333333333vw; top: 61.13320079522863vh; background: url('../imges/more_b.png') no-repeat 90% center;}
.main_visual .mv .mv3 .more2 a{font-size: 2rem;}


.main_visual .mv .swiper-pagination-bullet{background: #717171; }
.main_visual .mv .swiper-pagination{display: flex; flex-direction: column; gap: 25px; position: absolute; width: auto; left: 56px; top: 450px; }
.main_visual .mv .swiper-pagination-bullet-active{background: #fff;}


.main_visual .mv .mv_control{  position: absolute; left:45px;top: 390px; z-index: 1; border: 2px solid #fff; border-radius: 50%; padding-left: 2px; padding-right: 2px; padding-bottom: 2px;}
.main_visual .mv .mv_control .pause{cursor: pointer; background: url('../imges/pause.png')no-repeat center/100%; width: 30px; height: 30px; font-size: 0;}
.main_visual .mv .mv_control .play{cursor: pointer; background: url('../imges/play.png')no-repeat center/100%; width: 30px; height: 30px; font-size: 0;}
/* main_visual */

/* main_visual / media */
@media(max-width:1280px){
  .main_visual .mv .mv1 video{height: 120vh;}
  .main_visual .mv .mv2{height: 120vh;}
  .main_visual .mv .mv3{height: 120vh;}
  .main_visual .mv .mv2 .mv_txt2{height: 85%;}
  .main_visual .mv .mv3 .mv_txt3{height: 85%;}
.main_visual .mv .swiper-pagination{left: 56px; top: 41%;}
.main_visual .mv .mv_control{  position: absolute; left:45px; top: 36%; }
  }
@media(max-width:1200px){
.main_visual .mv .mv2 .mv_txt2 h2{font-size: 5rem; padding-bottom: 45px;}
.main_visual .mv .mv2 .mv_txt2 h2+p{font-size: 2.5rem; padding-bottom: 90px;}
.main_visual .mv .mv2 .mv_txt2 h2+p span{font-size: 2rem;}
.main_visual .mv .mv2 .more1 a{font-size: 2rem;}

.main_visual .mv .mv3 .mv_txt3 h2{font-size: 5rem; padding-bottom: 45px;}
.main_visual .mv .mv3 .mv_txt3 h2+p{font-size: 2.5rem; padding-bottom: 90px;}
.main_visual .mv .mv3 .mv_txt3 h2+p span{font-size: 2rem;}
.main_visual .mv .mv3 .more2 a{font-size: 2rem;}
}
@media(max-width:1114px){
/*   .main_visual .mv .mv1 video{height: 120vh;}
  .main_visual .mv .mv2{height: 120vh;}
  .main_visual .mv .mv3{height: 120vh;} */
/*   .main_visual .mv .mv2 .mv_txt2{height: 85%;}
  .main_visual .mv .mv3 .mv_txt3{height: 85%;} */
.main_visual .mv .swiper-pagination{left: 49%; top: 71.5%; gap: 15px; display: flex; flex-direction: row;}
.main_visual .mv .mv_control{left:42.5%; top: 70.1%; }
.wrap #main .scroll{display: none;}
  }
  @media(max-width:684px){
    .main_visual .mv .swiper-pagination{left: 47.5%; top: 71.5%; gap: 15px; display: flex; flex-direction: row;}
    .main_visual .mv .mv_control{left:38.5%; top: 70.1%; }

      }

@media(max-width:500px){
  .main_visual .mv .mv2 .mv_txt2 h2{font-size: 3rem; padding-bottom: 30px;}
  .main_visual .mv .mv2 .mv_txt2 h2+p{font-size: 1.8rem; padding-bottom: 70px;}
  .main_visual .mv .mv2 .mv_txt2 h2+p span{font-size: 1.6rem;}
  .main_visual .mv .mv2 .more1 a{font-size: 1.4rem;}

  .main_visual .mv .mv3 .mv_txt3 h2{font-size: 3rem; padding-bottom: 30px;}
  .main_visual .mv .mv3 .mv_txt3 h2+p{font-size: 1.8rem; padding-bottom: 70px;}
  .main_visual .mv .mv3 .mv_txt3 h2+p span{font-size: 1.6rem;}
  .main_visual .mv .mv3 .more2 a{font-size: 1.4rem;}

  .main_visual .mv .swiper-pagination{left: 47.5%; top: 71.5%; gap: 15px; display: flex; flex-direction: row;}
  .main_visual .mv .mv_control{left:36.5%; top: 70.1%; }
  }

  
@media(max-width:429px){
  .main_visual .mv .swiper-pagination{left: 47.5%; top: 81.5%; gap: 15px; display: flex; flex-direction: row;}
  .main_visual .mv .mv_control{left:36.5%; top: 80.1%; }
  .main_visual .mv .mv_txt1{top: 40%;}
  .main_visual .mv .mv_txt2{height: 97% !important;}
  .main_visual .mv .mv_txt3{height: 97% !important;}
  .main_visual .mv .mv2 .more1{top: 60%;}
  .main_visual .mv .mv3 .more2{top: 60%;}
}

/* main_visual / media */






/* scroll */

.wrap #main .scroll{position: absolute; left: 0; top: 0; z-index: 2; left: 50%; transform: translateX(-50%); top: 80%;}
.wrap #main .scroll p{color: #fff; font-weight: 300; font-size: 2rem; text-transform: uppercase;}
.wrap #main .scroll::before{display: block; content: ""; position: absolute; left: 50%; transform: translateX(-50%); top: 0; border: 1px solid #fff; width: 90px; height: 90px; border-radius: 50%;}
.wrap #main .scroll::after{display: block; content: ""; position: absolute; left: 50%; transform: translateX(-50%); top: 200%; background: #fff; width: 1px; height: 110px; border-radius: 50%;}

@keyframes roll {
0%{}
50%{transform: translateY(-30px);}
100%{transform: translateY(0);}
}

.wrap #main .scroll p{animation: roll 3s infinite;}

/* scroll */


/* brand me */

@media(max-width:1450px){
  .brand span{display: block !important; width: 100% !important; font-size: 15rem !important; }
  .brand .inner .br .br_right h3{font-size: 3.5rem !important; /* font-weight: 400; */}



.brand .br .br_left{width: 373px !important; height: 373px !important;}
.brand .br .br_left img{width: 100% !important;}
.brand .br .br_left img+img{width: 300px !important;}

.brand .inner .br .br_right{margin-right: 0 !important;}
.brand .br .br_left{margin-left: 3%;}
}
@media(max-width:1450px){
  .brand span{display: block !important; width: 100% !important; font-size: 13rem !important; }

}
@media(max-width:1216px){
  .brand span{display: block !important; width: 100% !important; font-size: 11rem !important; letter-spacing: 150px !important;}

}
@media(max-width:1168px){
  .brand .br{gap: 200px !important;}
}

@media(max-width:1060px){
  .brand .br .br_left img:nth-child(1){width: 250px !important;}

  .brand .br{gap: 200px !important;}
  .brand .inner .br .br_right h3{font-size: 3rem !important; /* font-weight: 400; */}
.brand .inner .br .br_right h3+p{font-size: 1.7rem !important;}
.brand .br .br_left img+img{width: 200px !important;}
.brand .br .br_left{width: 220px !important; height: 220px !important;}
.brand .inner .br .br_right .btn_more a{ font-size: 1.3rem !important;}
.brand .inner .br .br_right .btn_more{padding: 5px 30px !important;}
}
@media(max-width:954px){
  .brand span{display: block !important; width: 100% !important; font-size: 11rem !important; letter-spacing: 100px !important;}

}
@media(max-width:850px){
  .brand .br{gap: 150px !important;}
  .brand .inner .br .br_right h3{font-size: 2.5rem !important; /* font-weight: 400; */}
  .brand .inner .br .br_right h3 img{width: 55%;}
.brand .inner .br .br_right h3+p{font-size: 1.5rem !important;}
.brand .br .br_left img+img{width: 200px !important;}
/* .brand .br .br_left{width: 273px !important; height: 273px !important;}
.brand .inner .br .br_right .btn_more a{ font-size: 1.3rem !important;}
.brand .inner .br .br_right .btn_more{padding: 5px 30px !important;} */
}
@media(max-width:954px){
  .brand span{display: block !important; width: 100% !important; font-size: 11rem !important; letter-spacing: 70px !important;}

}
@media(max-width:670px){
  .brand .br{gap: 100px !important;}
  .brand .inner .br .br_right .btn_more a{ font-size: 1.1rem !important;}
  .brand .inner .br .br_right .btn_more{padding: 5px 20px !important;}
  .brand span{display: block !important; width: 100% !important; font-size: 9rem !important; letter-spacing: 70px !important;}
}
@media(max-width:616px){
  .brand .br{gap: 50px !important;}
  .brand .br .br_left img+img{width: 180px !important;}
  .brand .br .br_left img:nth-child(1){width: 240px !important;}

}
@media(max-width:572px){
  .brand span{display: block !important; width: 100% !important; font-size: 9rem !important; letter-spacing: 50px !important;}
  .brand .br .br_left img+img{width: 150px !important;}
  .brand .br .br_left img:nth-child(1){width: 200px !important;}

}
@media(max-width:562px){
  .brand .br{gap: 40px !important;}
  .brand .inner .br .br_right .btn_more{padding: 2px 20px !important;}
  .brand .inner .br .br_right h3{font-size: 2rem !important; /* font-weight: 400; */}
  .brand .inner .br .br_right h3+p{font-size: 1.3rem !important;}
}
@media(max-width:500px){
  .brand .br{gap: 30px !important;}

}
@media(max-width:428px){
  .brand span{display: block !important; width: 100% !important; font-size: 8rem !important; letter-spacing: 30px !important;}
  .brand .br .br_left{width: 473px; height: 473px; position: relative; overflow: hidden; border-radius: 0 !important; }
  .brand .inner .br{display: flex; flex-wrap: wrap; align-items: center !important;}
  .brand .inner .br .br_right{text-align: center !important; /* margin-left: 14px !important; */}
  .brand .inner .br .br_right h3+p{padding-top: 30px !important; padding-bottom: 20px !important;}
  .brand span{display: block !important; width: 100% !important; font-size: 8rem !important; letter-spacing: 25px !important;}
  .brand{padding: 250px 0 100px 0 !important; position: relative !important;}

  .brand .inner .br .br_right h3{font-size: 2.5rem !important; /* font-weight: 400; */}
  .brand .inner .br .br_right h3+p{font-size: 1.8rem !important;}
  .brand .inner .br .br_right .btn_more{padding: 6px 30px !important;}
  .brand .inner .br .br_right .btn_more a{font-size: 1.6rem;}

}
@media(max-width:390px){
  .brand .br .br_left{left: 3px;}
  .main_visual .mv .swiper-pagination{top: 81.7%;}
}
@media(max-width:360px){
  .brand .inner .br{display: flex; flex-wrap: wrap;}
  .brand .inner .br .br_right{text-align: center !important;}
  .brand .inner .br .br_right h3+p{padding-top: 30px !important; padding-bottom: 20px !important;}
  .brand span{display: block !important; width: 100% !important; font-size: 8rem !important; letter-spacing: 25px !important;}
}



/* brand me */



@keyframes brand_any{
  0%{}
  100%{transform: rotate(360deg);}
}


/* brand */
.brand{padding: 350px 0 245px 0; position: relative;}
.brand span{position: absolute; left: 0; top: 10%; font-size: 17rem; font-weight: 600; color: #F5F5F5; letter-spacing: 200px;}
.brand .inner{max-width: 100%}
.brand .br{display: flex; gap: 340px; justify-content: center; align-items: center;}
.brand .br .br_left{width: 473px; height: 473px; position: relative;  border-radius: 50%;}
.brand .br .br_left img:nth-child(2){position: absolute; left: 15%; top: 20%;}

.brand .br .br_left img:nth-child(1){animation: brand_any 20s infinite  linear ;}




.brand .inner .br .br_right{ text-align: right; margin-right: 150px;}

.brand .inner .br .br_right h3{font-size: 3.5rem; font-weight: 400;}

.brand .inner .br .br_right h3+p{line-height: 1.8; font-size: 2rem; padding-top: 50px; padding-bottom: 40px;}
.brand .inner .br .br_right .btn_more a{transition: all 0.5s; display: block; font-size: 1.5rem; font-weight: 400;}
.brand .inner .br .br_right .btn_more{transition: all 0.5s; border: 1px #1a1a1a solid; display: inline-block; padding: 5px 50px;}
.brand .inner .br .br_right .btn_more:hover{border: 1; background: #1a1a1a;}
.brand .inner .br .br_right .btn_more:hover a{color: #fff;}


/* .brand{position: relative;}
.brand .br_h{position: absolute; z-index: 1; left: 14.6%; top: 39.5%;}
.brand span{display: block; }
.brand .inner{max-width: 1200px; padding: 0;}
.brand .inner .br{display: flex; gap: 300px; align-items: center; }
.brand .inner{overflow: hidden;}

.brand .inner .br .br_left{position: relative;}
.brand .inner .br .br_left .br_h{position: absolute; left: 0;}

.brand .inner .br .br_left img{width: 100%;}
.brand .inner .br .br_left .br_h img{display: block; width: 100%;}



 */
/* brand */



/* best */
.pr{background: #FFFDF9; padding: 120px 0 270px 0; }
.pr .best{text-align: center; }
.pr .best h3{font-size: 5rem; font-weight: 500;}
.pr .best h3+p{font-size: 2rem; padding: 30px 0 80px;}
.pr .be li .thumb img{width: 100%;}

.pr .be li dl{text-align: center;}
.pr .be li dl dt{font-size: 1.8rem;}
.pr .be li dl dd{font-size: 1.5rem;}

.pr .be li .thumb .best_more{ transition: all 0.5s; border-radius: 30px; position: relative; display: block; position: absolute; left: 50%; transform: translateX(-50%); bottom: 21.5%; background: rgba(0,0,0,0.5); width:70%; /* calc(100% - 100px); */ height:70%; /* calc(100% - 150px); */ opacity: 0;}
.pr .be li .thumb .best_more a{text-align: center; transition: all 0.5s; color: #fff; font-size: 1.5rem; border: 1px solid #fff; padding: 9px 28px 5px 28px; display: block; position: absolute; left: 50%; transform: translate(-50% , -50%); top: 50%;}

.pr .be li .thumb:hover .best_more{ opacity: 1;}
.pr .be li .thumb .best_more a:hover{background: #000; border: 0;}

.pr .be li{margin-bottom: 200px;}
.pr .be .swiper-pagination{bottom: 0px; top: auto; width: 60%; right: auto; left: 50%; transform: translateX(-50%);}
.pr .be .swiper-button-next{bottom: 80px; top: auto; left: auto; right:37.39583333333333vw; color: #81807E;}
.pr .be .swiper-button-prev{bottom: 80px; top: auto; left: 37.39583333333333vw; right:auto; color: #81807E;}


.pr .be .swiper-pagination-progressbar{width: 80vw;  background: #E8E6E3;}

.pr .be .swiper-pagination-progressbar-fill{background: #81807E;}

.pr .be .swiper-button-next:hover{color: #F2EADD;}
.pr .be .swiper-button-prev:hover{color: #F2EADD;}

@media(max-width:1767px){
  .pr .be li .thumb .best_more a{padding: 9px 20px 5px 20px;}
}
@media(max-width:1590px){
  .pr .be li .thumb .best_more{height:71.5%;}
  .pr .be li .thumb .best_more a{padding: 9px 15px 5px 15px;}
}
@media(max-width:1472px){
  .pr .be li .thumb .best_more{height:72.5%;}
  .pr .be li .thumb .best_more a{padding: 9px 10px 5px 10px;}
}
@media(max-width:1364px){
  .pr .be li .thumb .best_more{height:73.5%;}
  .pr .be li .thumb .best_more a{font-size: 1.4rem; padding: 9px 10px 5px 10px;}
}
@media(max-width:1304px){
  .pr .be li .thumb .best_more{height:73.5%;}
  .pr .be li .thumb .best_more a{width: 50%; font-size: 1.4rem; padding: 9px 8px 5px 8px;}
}
@media(max-width:1299px){
  .pr .be li .thumb .best_more{height:70%;}
  .pr .be li .thumb .best_more a{width: 50%; font-size: 1.4rem; padding: 9px 8px 5px 8px;}
}

@media(max-width:1200px){
  .pr .best h3{font-size: 4.7rem;}
  .pr .best h3+p{font-size: 1.8rem;}
}
@media(max-width:1116px){
  .pr .be li .thumb .best_more{height:71.5%;}
}
@media(max-width:999px){
  .pr .be li .thumb .best_more{height:70%;}
}
@media(max-width:910px){
  .pr .be li .thumb .best_more{height:71.5%;}
}
@media(max-width:852px){
  .pr .be li .thumb .best_more{height:70%;}

}
@media(max-width:723px){
  .pr{padding: 120px 0 120px 0; }
}


@media(max-width:500px){
  .pr .be li .thumb:hover .best_more{ opacity: 0;}
  .pr .be li .thumb:hover .best_more a{padding: 120px;}
  .pr .be .swiper-button-next{display: none;}
  .pr .be .swiper-button-prev{display: none;}
  .pr .best h3{font-size: 3.8rem;}
  .pr .best h3+p{font-size: 1.7rem;}
  .pr{padding: 110px 0 150px 0; }
  .pr .be li dl dt{font-size: 1.7rem;}
.pr .be li dl dd{font-size: 1.4rem;}
}
@media(max-width:430px){
  .pr .best h3{font-size: 3.7rem;}
  .pr .best h3+p{font-size: 1.5rem;}
  .pr .be li .thumb .best_more a{width: 80%;}
  .pr .be li .thumb .best_more{width: 70%; text-align: center; bottom: 30%;}
}
@media(max-width:390px){
  .pr .best h3{font-size: 3.7rem;}
  .pr .best h3+p{font-size: 1.8rem;}
  .pr .be li .thumb .best_more a{width: 80%;}
  .pr .be li .thumb .best_more{width: 70%; text-align: center; bottom: 30%;}
}
@media(max-width:375px){
  .pr .best h3{font-size: 3.7rem;}
  .pr .best h3+p{font-size: 1.8rem;}
  .pr .be li .thumb .best_more a{width: 80%;}
  .pr .be li .thumb .best_more{width: 70%; text-align: center; bottom: 30%;}
}
@media(max-width:360px){
  .pr .best h3{font-size: 3.7rem;}
  .pr .best h3+p{font-size: 1.8rem;}
  .pr .be li .thumb .best_more a{width: 80%;}
  .pr .be li .thumb .best_more{width: 70%; text-align: center; bottom: 33%;}
}
/* best */



/* um_mp */
.um_mp{position: relative;}
.um_mp video{width: 100%; height: 616px; object-fit: cover; display: block;}
.um_mp video+h3{font-size: 5rem; font-weight: 500; position: absolute; left:50%; transform: translate(-50% , -50%); top: 50%; z-index: 5;  color: #fff; text-transform: uppercase;}
/* um_mp */


/* um_mp media */
@media(max-width:1280px){
  .um_mp video{width: 100%; height: 516px; object-fit: cover;}

}
@media(max-width:976px){
  .um_mp video{width: 100%; height: 416px; object-fit: cover;}
  .um_mp video+h3{font-size: 4rem;}
}
@media(max-width:806px){
  .um_mp video{width: 100%; height: 356px; object-fit: cover;}
  .um_mp video+h3{font-size: 3.5rem; width: 100%; text-align: center;}
}
@media(max-width:574px){
  .um_mp video{width: 100%; height: 300px; object-fit: cover;}
  .um_mp video+h3{font-size: 3rem; width: 100%; text-align: center;}
}
@media(max-width:428px){
  .um_mp video{width: 100%; height: 300px; object-fit: cover;}
  .um_mp video+h3{font-size: 2.5rem; width: 100%; text-align: center;}
}
@media(max-width:390px){
  .um_mp video{width: 100%; height: 256px; object-fit: cover;}
  .um_mp video+h3{font-size: 2.5rem; width: 100%; text-align: center;}
}
/* um_mp media */




/* um */
.um{background: #FFFDF9; padding: 310px 0;}
.um .inner{display: flex; gap: 190px;  justify-content: center; align-items: center;}
.um .inner .left{width: 556px;}
.um .inner .right h3{font-size: 4rem; font-weight: 400; padding-bottom: 50px;}
.um .inner .right h3~p{font-size: 1.8rem; color: #808080;}
.um .inner .right h3+p+p{padding: 50px 0;}

.um .inner .um_more a{transition: all 0.5s;}
.um .inner .um_more{transition: all 0.5s; display: block; font-size: 1.5rem; font-weight: 400; border: 1px #1a1a1a solid; display: inline-block; padding: 5px 50px;}
.um .inner .um_more:hover{border: 1; background: #1a1a1a;}
.um .inner .um_more:hover a{color: #fff;}
/* um */


/* um*/
@media(max-width:1280px){
  .um .inner{padding: 0;}
  .um .inner .left{width: 556px; margin-left: 3%;}
}
@media(max-width:1220px){
  .um .inner{gap: 170px;}
  .um .inner .left{width: 456px;}
}
@media(max-width:1140px){
  .um .inner .left img{width: 100%;}
  .um .inner .left{width: 556px;}
  .um .inner{gap: 100px;}
}
@media(max-width:1125px){
  .um .inner .left{width: 456px;}
  .um .inner .left img{width: 100%;}
  .um .inner{gap: 80px;}
  .um .inner .right h3{font-size: 3rem; padding-bottom: 30px;}
.um .inner .right h3~p{font-size: 1.5rem; color: #808080;}
.um .inner .um_more{font-size: 1.3rem; padding: 5px 30px;}
.um .inner .right h3+p+p{padding: 30px 0;}
}
 @media(max-width:961px){
  .um .inner{gap: 60px;}
  .um .inner .left{width: 400px;}
  .um{background: #FFFDF9; padding: 180px 0;}
}
@media(max-width:881px){
  .um .inner{display: flex; flex-direction: column; gap: 40px;}
  .um .inner .left{width: 400px;}
  .um .inner .right{text-align: center;}
  .um{background: #FFFDF9; padding: 100px 0;}
  .um .inner .right h3{padding-bottom: 20px;}
  .um .inner .right h3+p+p{padding: 30px 0;}
}
@media(max-width:768px){
  .um .inner .um_more a{color: #fff;}
  .um .inner .um_more{background: rgba(0,0,0,0.5); border: 0;}
}
@media(max-width:692px){
.um_mp{display: none;}
.um{position: relative; padding: 0;}
.um .inner::before{display: block; content: "songwol umbrella"; position: absolute;z-index: 10; color: #fff; font-size: 3rem; text-transform: uppercase; letter-spacing: 1px;}
.um .inner::after{display: block; content: ""; width: 100%; height: 100%; background: rgba(0,0,0,0.5); position: absolute;z-index: 0;}
.um .inner{gap:0;}
.um .inner .left{position: relative; width: 105%; height: 330px;}
.um .inner .left img{height: 100%; object-fit: cover; }
.um .inner .right{position: absolute; z-index: 5; top: 70%; background: #fff; width: 70%; padding: 70px 0 70px;}
.um .inner .right h3~p{color: #1a1a1a;}
}

@media(max-width:582px){
  .um .inner .left{position: relative; width: 105%; height: 280px;}
  .um .inner .right{padding: 40px 0 40px; width: 85%;}
  }
  @media(max-width:543px){
    .um .inner .left{position: relative; width: 105%; height: 280px;}
    .um .inner .right{padding: 40px 0 40px;}
    .um .inner .right h3~p{ font-size: 1.4rem;}
    }

/* um*/




/* event */
.event{padding: 125px 0 300px; background: #FBF8F4;}
.event h3{font-size: 5rem; color: var(--font_m-color); font-weight: 400; text-align: center; text-transform: uppercase; padding-bottom: 120px;}
.event .ev li img{display: block; width: 100%; border-radius: 30px;}
.event .ev li{ position: relative;}
.event .ev li .thumb_txt{ color: #fff; position: absolute; left: 4.761904761904762vw; top: 50%; transform: translateY(-50%);}


.event .ev .ev1 .thumb_txt dl dt{font-size: 3rem; text-transform: uppercase; letter-spacing: 2px;}
.event .ev .ev1 .thumb_txt dl dd{font-size: 4rem; text-transform: uppercase; letter-spacing: 2px;}

.event .ev .ev2 .thumb_txt dl dt{font-size: 3rem; text-transform: uppercase; letter-spacing: 2px;}
.event .ev .ev2 .thumb_txt dl dd{font-size: 4rem; font-weight: 600; padding-top: 20px;}
.event .ev .ev2 .thumb_txt dl dd+dd{font-size: 3rem; padding-top: 40px;}

.event .ev .ev3 .thumb_txt dl dt{font-size: 3rem; text-transform: uppercase; letter-spacing: 2px;}
.event .ev .ev3 .thumb_txt dl dd{font-size: 4rem; font-weight: 600; padding-top: 20px;}
.event .ev .ev3 .thumb_txt dl dd+dd{font-size: 3rem; padding-top: 40px;}


.event .ev .swiper-button-next{transition: all 0.5s; left: auto; right: 25.5%; color: transparent; background: url('../imges/next.png')no-repeat center/100%; width: 77px; height: 77px; top: auto; bottom: 40%;}
.event .ev .swiper-button-prev{transition: all 0.5s; right: auto; left: 25.5%; color: transparent; background: url('../imges/prev.png')no-repeat center/100%; width: 77px; height: 77px; top: auto; bottom: 40%;}

.event .ev .swiper-button-next:hover{background: url('../imges/next_hover.png')no-repeat center/100%;}
.event .ev .swiper-button-prev:hover{background: url('../imges/prev_hover.png')no-repeat center/100%;}

.event .ev .swiper-pagination{display: none; bottom: 0px; top: auto; width: 60%; right: auto; left: 50%; transform: translateX(-50%);}
.event .ev .swiper-pagination-progressbar{display: none;  width: 50vw;  background: #E8E6E3;}

.event .ev .swiper-pagination-progressbar-fill{display: none;  background: #81807E;}


/* event */



/* event media */
@media(max-width:1552px){
  .event .ev .ev1 .thumb_txt dl dt{font-size: 2.5rem; text-transform: uppercase; letter-spacing: 1px;}
  .event .ev .ev1 .thumb_txt dl dd{font-size: 3.5rem; font-weight: 600; padding-top: 14px;}
  .event .ev .ev1 .thumb_txt dl dd+dd{font-size: 2.5rem; padding-top: 25px;}

  .event .ev .ev2 .thumb_txt dl dt{font-size: 2.5rem; text-transform: uppercase; letter-spacing: 1px;}
  .event .ev .ev2 .thumb_txt dl dd{font-size: 3.5rem; font-weight: 600; padding-top: 14px;}
  .event .ev .ev2 .thumb_txt dl dd+dd{font-size: 2.5rem; padding-top: 25px;}

  .event .ev .ev3 .thumb_txt dl dt{font-size: 2.5rem; text-transform: uppercase; letter-spacing: 1px;}
  .event .ev .ev3 .thumb_txt dl dd{font-size: 3.5rem; font-weight: 600; padding-top: 14px;}
  .event .ev .ev3 .thumb_txt dl dd+dd{font-size: 2.5rem; padding-top: 25px;}

}

@media(max-width:1363px){
  .event .ev .swiper-button-next{transition: all 0.5s; left: auto; right: 25%; color: transparent; background: url('../imges/next.png')no-repeat center/100%; width: 77px; height: 77px; top: auto; bottom: 40%;}
  .event .ev .swiper-button-prev{transition: all 0.5s; right: auto; left: 25%; color: transparent; background: url('../imges/prev.png')no-repeat center/100%; width: 77px; height: 77px; top: auto; bottom: 40%;}
}
@media(max-width:1225px){
  .event .ev .swiper-button-next{transition: all 0.5s; left: auto; right: 24.5%; color: transparent; background: url('../imges/next.png')no-repeat center/100%; width: 77px; height: 77px; top: auto; bottom: 40%;}
  .event .ev .swiper-button-prev{transition: all 0.5s; right: auto; left: 24.5%; color: transparent; background: url('../imges/prev.png')no-repeat center/100%; width: 77px; height: 77px; top: auto; bottom: 40%;}
}
@media(max-width:1200px){
  .event .ev .swiper-button-next{display: none;}
  .event .ev .swiper-button-prev{display: none;}
  .event .ev{padding-bottom: 100px;}
  .event .ev .swiper-pagination{display: block; bottom: 0px; top: auto; width: 60%; right: auto; left: 50%; transform: translateX(-50%);}
.event .ev .swiper-pagination-progressbar{display: block;  width: 80vw;  background: #E8E6E3;}

.event .ev .swiper-pagination-progressbar-fill{display: block;  background: #81807E;}
}




@media(max-width:1243px){
  .event .ev li{height: 477px;}
  .event .ev li .thumb{height: 100%;}
  .event .ev li img{ object-fit: cover; height: 100%;}
}
@media(max-width:1151px){
  .event .ev li{height: 430px;}
  .event .ev li .thumb{height: 100%;}
  .event .ev li img{ object-fit: cover; height: 100%;}
  .event{padding: 125px 0 180px; background: #FBF8F4;}
}
@media(max-width:1056px){
  .event .ev li{height: 430px;}
  .event .ev li .thumb{height: 100%;}
  .event .ev li img{ object-fit: cover; height: 100%;}

  .event .ev .ev1 .thumb_txt dl dt{font-size: 2rem; text-transform: uppercase; letter-spacing: 1px;}
  .event .ev .ev1 .thumb_txt dl dd{font-size: 3rem; font-weight: 600; padding-top: 14px;}
  .event .ev .ev1 .thumb_txt dl dd+dd{font-size: 2rem; padding-top: 25px;}

  .event .ev .ev2 .thumb_txt dl dt{font-size: 2rem; text-transform: uppercase; letter-spacing: 1px;}
  .event .ev .ev2 .thumb_txt dl dd{font-size: 3rem; font-weight: 600; padding-top: 14px;}
  .event .ev .ev2 .thumb_txt dl dd+dd{font-size: 2rem; padding-top: 25px;}

  .event .ev .ev3 .thumb_txt dl dt{font-size: 2rem; text-transform: uppercase; letter-spacing: 1px;}
  .event .ev .ev3 .thumb_txt dl dd{font-size: 3rem; font-weight: 600; padding-top: 14px;}
  .event .ev .ev3 .thumb_txt dl dd+dd{font-size: 2rem; padding-top: 25px;}
}.

@media(max-width:786px){
  .event h3{font-size: 4rem;}
}
@media(max-width:730px){
  .event{padding: 100px 0 300px; background: #FBF8F4;}
}
@media(max-width:693px){
  .event{padding:400px 0 200px; background: #FBF8F4;}
}
@media(max-width:500px){
  .event h3{font-size: 3.7rem;}
}

/* event media */



/* footer */

#footer{background: #F1EDE6; padding: 80px 0 120px;}
#footer .inner{display: flex; justify-content: space-between; max-width: 1662px; align-items: end;}
#footer .inner .logo h3{font-size: 3rem; color: #808080; text-align: center; font-family: var(--title_r-font);}
#footer .inner address{ margin: 0 auto 0  100px; color: #808080;}
#footer .inner address span:nth-of-type(1){font-weight: 600;}
#footer .inner address span:nth-of-type(2){display: inline-block; padding: 20px 0 10px;}

#footer .inner .footer_right .sns img{display: block;}
#footer .inner .footer_right .sns{ display: flex; gap: 15px; align-items: center; justify-content: end; padding-bottom: 100px;}


#footer .inner .footer_right .sns li:nth-child(1){color: #808080;}
#footer .inner .footer_right .copy{color: #808080;}

#footer .inner .footer_right .sns li:nth-child(2){transition: all 0.5s; font-size: 0;background: url('../imges/insta.png')no-repeat center/100%; width: 30px; height: 30px;}

#footer .inner .footer_right .sns li:nth-child(3){transition: all 0.5s;  font-size: 0;background: url('../imges/youtube.png')no-repeat center/100%; width: 30px; height: 30px;}

#footer .inner .footer_right .sns li:nth-child(2):hover{font-size: 0;background: url('../imges/insta_hover.png')no-repeat center/100%; width: 30px; height: 30px;}

#footer .inner .footer_right .sns li:nth-child(3):hover{font-size: 0;background: url('../imges/youtube_hover.png')no-repeat center/100%; width: 30px; height: 30px;}




/* footer / media */

@media(max-width:1251px){
#footer .inner{display: flex; flex-direction: column; align-items: center;}
#footer .inner .logo h3{ margin: 0 auto; padding-bottom: 30px;}
#footer .inner address{ margin: 0 ; text-align: center;}
#footer .inner .footer_right .sns{padding: 40px 0; justify-content: center;}
#footer .inner address span:nth-of-type(2){display: inline-block; padding: 10px 0 5px;}
}
@media(max-width:593px){
  #footer .inner .logo h3{font-size: 2.7rem;}
  #footer .inner address{font-size: 1.3rem;}
  #footer .inner .copy{font-size: 1.3rem;}
  #footer .inner .footer_right .sns li:nth-child(1){font-size: 1.3rem;}
  }
  @media(max-width:360px){

    #footer .inner .copy{display: flex; flex-direction: column;}
    #footer .inner .copy span{text-align: center;}

    }


/* footer / media */



/* footer */